.body-account-settings {
    padding: 12.5px;
}

.form-account-settings {
    background-color: white;
    border-radius: 5px;
    padding: 12.5px;
}

.container-input-fields-as{
	border-bottom: 2px solid #E8E8E8;
}

.button-update-as {
    margin-top: 12.5px;
}