.price-container-c, .quantity-container-c , .total-container-c {
    display: flex;
    border-bottom: 1px solid #C8C8C8;
}

.total-container-c{
	border-bottom: none;
}

.price-inner-c, .quantity-inner-c, .total-inner-c {
    width: 20%;
}

.price-cart , .quantity-cart, .total-cart {
    color: #6D6D6D;
    font-size: 16px;
    font-weight: bold;
}

.price-inner-amount-c, .quantity-inner-amount-c, .total-inner-amount-c {
    width: 85%;
    text-align: right;
}

.price-amount-cart, .quantity-amount-cart, .total-amount-cart {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: bold;
}
.quantity-input-c {
    border: none;
    padding: 17px;
    text-align: right;
    font-size: 16px;
    color: #1a1a1a;
    font-weight: bold;
}