.body-categories{
	/*background-image: url("../img/category-black-bg.png");*/
	 margin-bottom: 12.5px;
}

.row-cat{
	width: 100%;
	display: flex;
}

.category-container-1, .category-container-2, .category-container-3, .category-container-4, .category-container-5, .category-container-6{
	width: 50%;
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.category-container-1, .category-container-3, .category-container-5{
	margin: 12.5px 12.5px 0px 12.5px;
}

.category-container-2, .category-container-4, .category-container-6{
	margin: 12.5px 12.5px 0px 0px;
}
.category-container-1{
	background-image: url("../img/boxes/box-bg/phones.png");
}

.category-container-2{
	background-image: url("../img/boxes/box-bg/tablets.png");
}

.category-container-3{
	background-image: url("../img/boxes/box-bg/laptops.png");
}

.category-container-4{
	background-image: url("../img/boxes/box-bg/action-cam.png");
}

.category-container-5{
	background-image: url("../img/boxes/box-bg/camera.png");
}

.category-container-6{
	background-image: url("../img/boxes/box-bg/headphones-speakers.png");
}

.icon-container{
	text-align: center;

}


.icon-container img{
	width: 100%;
}