.item-name-give {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 14px;
    padding-left: 8%;
    margin-bottom: 3px;
    margin-top: 0px;
}

.time-left {
    width: 25%;
    text-align: center;
}

.pledge-p-give{
	font-weight: normal!important;
	font-weight: 14px;
}

.content-contri{
	display: none;
}

.box-contri {
    width: 50px;
    text-align: center;
    background-color: #ff6c2c;
    border-radius: 3px;
    margin: 0 auto;
}

.icon-money-cuz{
    color: white;
    padding: 5px;
    margin: 0px 0px 5px 0px;
}