.navigation-bar{
	background: white;
}

.header-title{
	  color: #ff6c2c;
}

.nav-icon{
	width: 25px;
}

.search-nav{
	width: 25px;
	margin-right: 12.5px;
	margin-top: 9px;
}

.icon-search-container{
	padding: 7.5px 12.5px;
}