body{
	font-family: 'sintonyregular'!important;
}

.header-container{
  background-image: url("../img/landing-page-bg-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo-landing-page{
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.logo-img{
  width: 300px;
}

.login-tab p {
    color: white;
    font-weight: bold;
    text-align: center;
}

.login-tab {
    width: 50%;
    text-align: center;
}

.sign-tab p {
    color: white;
    font-weight: bold;
    text-align: center;
}

.sign-tab {
    width: 50%;
}

.login-sign-container{
	display: flex;
	margin-top: 100px;
}

.pointer-container{
    text-align: center;
}

.pointer-login {
    width: 20px;
    position: relative;
    bottom: -6px;
}

.pointer-signup {
    width: 20px;
    position: relative;
    bottom: -6px;
}

.sign-up-text, .login-text{
	margin-bottom: 0px;
}

.login-form, .signup-form {
    padding: 25px;
    background: white;
}

.email-input, .password-input, .sign-signup section input {
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #ddd!important;
    font-size: 16px;
     width: 100%;
    font-family: 'sintonyregular';
}

.password-input ,.password-sign-up {
 
  background-repeat: no-repeat;
  background-position: 98%;
}

.forgot-password-container{

}

.forgot-pass{
	text-decoration: none;
    color: #408fdc;
    font-size: 14px;
}

.btn-login-container, .btn-sign-container{

}
.main-button{
	width: 100%;
    background: #ff6c2c;
    border: none;
    border-radius: 5px;
    color: white;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.or-container{
	text-align: center;
}

.or-text{
	color: #999;
}

.login-with-fb-text{
	color: #244da3;
	text-decoration: none;
}

.login-facebook-form {
    width: 210px;
    margin: 0 auto;
}

.fb-text {
    padding-left: 15px;
}

.fb-login-all{
	display: flex;
}

.tag-line-text {
  text-align: center;
  color: white;
  font-size: 22px;
}

.forgot-and-rember-container {
    display: flex;
    width: 100%;
}

.forgot-password-container, .remember-container {
    width: 100%;
}

.remember-container {
      padding-top: 25px;
}

.remeberme-text{
    color: #1a1a1a;
    font-size: 14px;
}

.rememberme-cb{
    transform: scale(1.5);
    margin-right: 10px;
}

.login-with-fb-text {
    font-weight: bold;
}

.eye-login {
  position: relative;
 
  bottom: 38px;
  width: 22px;
  left: 93%;
}

.forgot-and-login-container {
    display: flex;
}

.login-btn {
    background-color: white;
    border: none;
    color: #ff6c2c;
    font-size: 16px;
}

.btn-sign-container {
    text-align: right;
}

/*================ SIGN UP =====================*/



/*================= TABBAR ======================*/

:checked + .tab-bar__button > .tab-bar__icon {
  color: #ff6c2c;
}

:checked + .tab-bar__button {
  color: #ff6c2c;
}

.center.navigation-bar__title.navigation-bar__center {
     font-weight: bold; 
    color: #ff6c2c;
}

ons-icon.ng-scope.ons-icon.ons-icon--ion.ion-navicon.fa-lg {
    color: #ff6c2c;
}

i.ion-ios-arrow-back.ons-back-button__icon {
    color: #ff6c2c;
}