.item-img-mc {
    width: 100%;

}

.cart-container-mc {
    display: flex;
    border-bottom: 1px solid #C8C8C8;
    padding: 12.5px 0px;
}

.img-containr-mc {
    width: 41%;
    text-align: center;
    padding: 12.5px;
}

.info-container-mc {
    width: 59%;
    padding-left: 12.5px;
}

.item-name-mc {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

p.price-p-mc {
    color: #949393;
    font-size: 14px;
    margin-top: 0px;
}

.buy-btn-mc {
  width: 100%!important;
  text-align: center;
  height: 40px;
  border-radius: 2px!important;
  width: 90px;
  font-size: 14px;
  float: right;
}