.tabbar-notif {
    background-color: white;
	display: flex;
	height: 45px;
	font-size: 16px;
}

.you-form-tab, .friends-form-tab {
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: #ff6c2c;
    font-size: 14px;
    /* border-bottom: 5px solid #ff6c2c; */
}

.row-you-notif {
    display: flex;
    padding-bottom: 12.5px;
}

.img-notif-container {
    width: 15%;
	text-align: center;
}

.img-notif-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content-notif-you-inner {
  padding: 25px 12.5px 12.5px 12.5px;
}

.text-notif-you {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 8%;
    font-size: 14px;
    color: #6F6F6F;
}

.bold-name-you {
    font-weight: bold;
    color: #1a1a1a;
}

.time-notif-you {
    color: #B1B1B1;
	padding-left: 8%;
    font-size: 10px;
	margin: 0px;
}

.info-notif-container {
    width: 60%;
}