.body-pitch {
  padding: 12.5px 12.5px 12.5px 12.5px;
  background-color: #e6e6e6;
}

.item-sel-p {
    color: #1a1a1a;
    font-weight: bold;
}

.content-pitch {
    background-color: white;
    border-radius: 5px;
    padding: 12.5px;
}

.item-container-pc {
    display: flex;
}

.img-step-2-container, .img-step-1-container{
    display: flex;
}

.campaign-title-pc {
    margin-top: 0px;
    padding-left: 12.5px;
    font-size: 14px;
    font-weight: bold;
    color: #ff6c2c;
}

.item-img-pc {
    width: 35%;
}

.title-item-pc {
   padding-bottom: 12.5px;
}

.item-img-pc img {
    width: 100%;
}

.title-item-p-pc {
    margin-top: 0px;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

.input-container-pc-1 input[type="text"] {
    border: 0px;    
    border-bottom: 1px solid #999999;    
    width: 94%;
    height: 40px;    
    font-family: sintonyregular;    
    padding: 0px 12.5px 12.5px 12.5px;
}

.input-container-pc-1 {
    margin-top: 20px;
}

.upload-vid-pc {
    background-color: #C7C7C7;
    width: 100%;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    /* padding: 20px; */
    padding: 20px;
    font-weight: bold;
    background-image: url("../img/pitch.png");
	background-repeat: no-repeat;
	background-position: 97% 18px;
}

.button-upload-pc {
    margin-top: 10px;
}

.btn-pub-camp {
    background-color: #ff6c2c; 
    width: 100%;    
    color: white;    
    border: 0px;    
    border-radius: 5px;    
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
}

.publish-btn-container {
    margin-top: 50px;
}

.img-step-1-container, .img-step-2-container {
    margin-top: 25px;
}


.price-pc-p {
    padding-left: 12.5px;
    margin-top: 5px;
    color: #1a1a1a;    
    font-size: 16px;
    font-weight: bold;    
   
}

.step-img-pc {
  width: 20px;
}

.address-p {
    color: #BDBDBD;
    font-size: 14px;
}

.address-link-container {
    padding-left: 12.5px;
    width: 80%;
}

.address-main-container {
    display: flex;
}

.container-btn-upload {
    text-align: right;
    width: 20%;
}

.btn-upload-pc {
    background-image: url("../img/pitch.png");
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: none;
    background-color: #ff6c2c;
    background-repeat: no-repeat;
    background-position: 7px 13px;
}

.container-modal-main{
  width: 70%;
  margin: 0 auto;  
  background: white;
  border-radius: 5px;
}

p.modal-p {
    color: #404040;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.modal-main-text {
    padding: 20px;
}

.action-btn-container-modal {
    display: flex;
}

.button-action-modal {
    width: 50%;

}




.button-action-modal button {
    width: 100%;
    background-color: white;
    border: 1px solid #ACACAC;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    color: #989797;
}

.button-action-modal button:first-child{
    border-right: none;
    border-radius: 0px 0px 0px 5px;
}

.button-action-modal button:last-child{
  
    border-radius: 0px 0px 5px 0px;
}

.price-pitch-p{
    color: #1a1a1a;
    font-size: 14px;
}