

.body-product-list {
  padding: 12.5px 12.5px 12.5px 12.5px;
  background-color: #e6e6e6;
}



.col-container {
    width: 50%;
    float: left;
    margin-bottom: 12.5px;
}



.item-container-pl-1 {
    background-color: white;
	padding: 12.5px 6.25px 12.5px 12.5px;
	margin-right: 6.25px;
    min-height: 210px;
    max-height: 210px;    
}

 .item-container-pl-2 {
    background-color: white;
	padding: 12.5px 6.25px 12.5px 12.5px;
	margin-left: 6.25px;
    min-height: 210px;
    max-height: 210px;
}
.row-product {
   /* display: flex;*/
    margin-bottom: 12.5px;
}

.img-product-list {
    padding-bottom: 0px!important;    
}

.img-product-list img {
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;

}

.img-product-list {
    text-align: center;
}

.item-container-pl {
	
}

.title-pl-p {
    color: #ff6c2c;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0px;
    font-size: 14px;
}

.price-pl-p {
    color: #878484;
    text-align: center;
    margin: 0px;
    font-size: 14px
}

.successful-camp-p {
    color: #878484;
    text-align: center;
    margin: 0px;
    font-size: 12px;
}

.sale-icon {
    width: 24%;
}

.img-container-sale {
    min-height: 50px;
    max-height: 50px;
    position: relative;
    bottom: 12px;
    right: 12px;
}

.sale-p {
    font-weight: bold;
    color: #1a1a1a;
}

.orig-price {
    text-decoration: line-through;
}

.sort-icon {
    width: 25px;      
    margin-right: 20.5px;
    margin-top: 9px;
}