.body-product-details{
  position: relative;
  top: 351px;
  padding: 0px 12.5px 12.5px 12.5px;
  background-color: #f2f2f2;

}

.product-content-pd{
 
}

ons-carousel-item {
  display: table;
  text-align: center;
  height: auto!important;

}

ons-carousel{
  height: auto!important;
}

.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}

.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}

ons-carousel-item img {
    width: 100%;
    max-height: 351px;
}

.img-succ-container{
  display: flex;
}

.title-product-pd {
    color: #ff6c2c;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12.5px;
}

.price-product-pd {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}


.quantity-pd {
    font-size: 25px;
    padding: 18px;
    font-weight: bold;
    width: 60px;
    border: 2px solid #ff6c2c;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}

.add-to-cart-btn {
    background-color: #ff6c2c;
    border: 0px;
    color: white;
    font-size: 25px;
    padding: 18px;
    border: 2px solid #ff6c2c;
    border-radius: 0px 5px 5px 0px;
}

.input-cart-container {
    display: flex;
}

.add-to-cart-section {
    width: 80%;
}
.add-to-cart-btn{
  width: 100%;
}

.title-pd-2 {
    font-size: 20px;
    font-weight: bold;
    color: #1a1a1a;
}

.common-text-pd {
    color: #4d4d4d;
    line-height: 25px;
    font-size: 14px;
}

.title-successful-p, .common-text-title-2 {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 16px;
}

.ul-pd li {
    color: #4d4d4d;
    line-height: 25px;
    font-size: 14px;
}

.add-to-wl-container {
  text-align: left;
    width: 50%;
}

.start-campaing-container {
    width: 50%;
    text-align: right;
}

.button-action-pd {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.wishlist-btn, .start-campaign-btn{
    width: 98%;
    background-color: #ff6c2c;
    border: 0px;
}

.wishlist-btn {
    height: 50px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.start-campaign-btn {
    height: 50px;
    color: white;
    font-size: 18px;    
    border-radius: 5px;
   /* border-left: 1px solid #088dda;*/
}

.page__content.ons-page-inner {
  overflow-x: hidden;
}

.items-related-container{
  display: flex;
  margin-bottom: 25px;
}

.item-individual-container{
  width: 33.33%;
}

.item-ind-inner img {
    width: 100%;
}

.item-ind-inner {
    width: 91%;
    margin: 0 auto;
    background-color: white;
}

.item-title-ri {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-carousel{
  max-width: 100%;
  max-height: 100p;
  width: auto;
  height: auto;
}

.item-ind-inner img {
    max-width: 100%;
    width: auto;
    height: auto;
    maxhe: 100px;
    max-height: 68px;
}