.blur-container{
	max-height: 250px;
	min-height: 250px;
	width: 100%;
	}

.blur-container img {
    width: 100%;
    height: auto;
    max-height: 250px;
    min-height: 250px;
    -webkit-filter: blur(15px);
}

.header-profile {
	position: relative;
	width: 100%;
	bottom: 355px;
}

.img-profile {
  margin-top: 150px;
  text-align: center;
}
.img-profile img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ff6c2c;
}

.name-container {
    text-align: center;
    color: white;
    font-weight: bold;
}

.description-wants {

    text-align: center;    
    color: white;
    font-size: 14px;
}

.navagation-prof-container {
	background-image: url('../img/nav-prof-bg.png');
 
	color: white;
	display: flex;
	width: 100%;
}
.nav-container-contributions {
    width: 35%;
    text-align: center;
    font-size: 14px;
}

.nav-container-info {
    width: 15%;    
    text-align: center;
    font-size: 14px;
    
}

.active-nav-prof{
    border-bottom: 5px solid #ff6c2c;
    color: #ff6c2c;
    font-weight: bold;
}

.nav-container-items {
    width: 20%;    text-align: center;
    font-size: 14px;
}

.nav-container-pledge {
    width: 30%;    text-align: center;
    font-size: 14px;
}

.profile-body-content {
    position: relative;
    bottom: 354.5px;
    background-color: #F2F2F2;
    /* margin: 12.5px; */
}

.inner-profile-conten {
    margin: 12.5px;
    padding: 12.5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #888;
}

.p-small-text p {
    font-size: 12px;
    color: #9C9C9C;
}

.p-main-text input {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding-bottom: 12.5px;
    width: 100%;
}

.container-input-fields {
    border-bottom: 1px solid #E8E8E8;
}

.container-input-fields:last-child{
    border-bottom: none;
}

.icon-img-prof {
    width: 20px;
}

.edit-container-icon {
  display: flex;
  float: right;
}

.edit-p {
    font-size: 14px;
    color: #9C9C9C;
    margin-top: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.button-update {
  padding: 12.5px;
  margin-bottom: 12.5px;
  position: absolute;
  top: 710px;
  width: 95%;
}


.button-cancel{
  padding: 12.5px;
  margin-bottom: 12.5px;
  position: absolute;
  width: 95%;
  top: 774px;

}
.cancel-prof-btn{
width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.p-main-text input:disabled {
    background-color: #FFFFFF;
}

.button-action-modal-prof{
    width: 100%;
    border-radius: 5px;
}
.button-action-modal-prof button{
    width: 100%;
    background-color: white;
    border: 1px solid #ACACAC;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    color: #989797;
    border-radius: 0px 0px 5px 5px;
}



/*====== ITEMS PAGE =======*/

.profile-body-content-items{
  background-color: #F2F2F2;
  position: absolute;
  top: 304px;
  width: 100%;
}

.live-campaign-container {
    padding: 12.5px;
}

.p-live-camp {
    color: #010101;    font-weight: bold;    
    font-size: 14px;
    margin-top: 0px;
}

.item-live-camp-con {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    border-bottom: 2px solid #eeeeee;
    box-shadow: 0px 0px 2px #888;
    
}

.img-item-lc {
    width: 100%;
}

.title-p-lc {
    margin: 0px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.title-con-lc {
    position: relative;
    bottom: 40px;
    padding: 12.5px;
    background-image: url('../img/item-footer-wf.png');
}
.progress-bar-container-lc {
    position: relative;
    bottom: 32px;
    padding: 12.5px;
}

.contributors-container-lc {
    position: relative;
    bottom: 45px;
    padding: 0px 12.5px 0px 12.5px;
}

.contributors-text-about-lc{
    color: #010101;
    font-weight: bold;
    font-size: 14px;
}

.img-con-lc {
    padding: 12.5px;
}
.price-stat-lc{
    margin-top: 0px;
}

.item-suc-prof{

    width: 48%;
    margin: 0 auto;
    float: left;
    text-align: center;
    background-color: white;
    margin-bottom: 12.5px;
    border-radius: 5px;
    border-bottom: 2px solid #eeeeee;
    box-shadow: 0px 0px 1px #888;

}

.item-suc-prof{
    color: #010101;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.img-item-suc-con img {
  text-align: center;
  padding: 12.5px;
  width: auto;
  height: 100px;
}

.container-item-suc-prof {
    padding: 12.5px;
}

.successful-camp-container p {
    margin-left: 12.5px;
}

.item-suc-prof:nth-child(odd) {
    /* background-color: red; */
    margin-right: 6.25px;
}

.item-suc-prof:nth-child(even) {
    margin-left: 6.25px;
}

.display-hide, #updateBtnContainer, #cancelBtnContainer{
    display: none;
}