ons-list-item.list__item.ons-list-item-inner.list__item--chevron {
    border: none;
    color: #727272;
    font-family: sintonyregular;
    font-weight: bold;
    
}


.list__item--chevron:before {
    content: "";
}



.header-container-sm {
    background-color: #ff6c2c;
    padding: 12.5px;
    padding: 25px;
}

.name-sm {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}

.img-container-sm img {
    width: 65px;
    border-radius: 50%;
}

.row-header-sm {
    display: flex;
}

.img-container-sm {
    margin-right: 12.5px;
}

.fond-sm {
    color: #DDCAC4;
    margin: 0px;
}

.fond-amount-sm {
    margin: 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.icon-css {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

.onslist-cuz{
	display: flex;
}

.ons-list-cuz{
	height: 445px;
}

.menu-container-sm {
    color: #B1B1B1;
    text-transform: uppercase;
    font-size: 12px;
}

.menu-container-sm p {
    background-color: white;
    margin: 0px;
    /* border-bottom: 0px; */
    padding-left: 17px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}