.passowrd-sp {
    border: 0px;
    border-bottom: 1px solid #C7C7C7;
    font-size: 16px;
    padding: 12.5px;
    width: 93%;
    margin-top: 12.5px;
}

.note-p-sc {
    font-size: 14px;
    color: #8C8C8C;
}

.submit-btn-container{
	margin-top: 25px;
}

.show-password {
    position: absolute;
    top: 50px;
    width: 22px;
    left: 87%;
}