.about-owner-container {
    padding: 12.5px;
}

.about-inner-container-vc {
    display: flex;
    margin-bottom: 25px;
}

.img-about-owner {
    padding-right: 12.5px;
}

.name-text-owner {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

.username-text-about {
    margin-top: 0px;
    color: #999999;
    font-size: 14px;
}

.contributors-container-vc, .pledge-container-vc, .comments-container-vc {
    margin-top: 25px;
  	
}

.contributors-text-about, .pledge-text-about, .comments-text-about, .about-user-container{
    color: #010101;
    font-weight: bold;
    font-size: 16px;
}

.img-contributor-all, .img-pledge-all {
    display: flex;
}

.img-container-contributors-vc img, .img-container-pledge-vc img {
    width: 60px;
}

.img-container-contributors-vc, .img-container-pledge-vc {
    text-align: center;
    width: 25%;
}

.comments-item {
    display: flex;
    margin-bottom: 12.5px;
}

.img-comments-vc {
   /* margin-right: 12.5px;*/
   width: 15%;
}

.img-comments-vc img {
    width: 45px;
}

.name-comments-p {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
    color: #010101;
}

.comments-content-p {
    margin-top: 5px;
    font-size: 12px;
    color: #565656;
}

.view-all-comments {
    padding-left: 25px;
}

.view-all-p {
    color: #7ab8ff;
    font-size: 14px;
}

.inner-container-write-comments {
    margin-top: 25px;
    padding-right: 18%;
}

.write-comment-ta {
    border: 0px;
    border-bottom: 1px solid #999999;
    width: 100%;
    height: 40px;
    font-family: sintonyregular;
  	padding: 0px 12.5px 12.5px 12.5px;
}

.comment-btn-container {
  position: relative;
  left: 90%;
  bottom: 50px;
}




.round-button-circle {
	width: 60px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #9e9e9e;
	overflow: hidden;
	color: #9e9e9e;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
 
}

.btn-container-vc{
	border: none!important;
}

.item-container {
  border-bottom: 2px solid #eeeeee;
  box-shadow: 0px 0px 2px #888;
  border-radius: 5px;
}

.play-icons-container-vc {
  text-align: center;
  padding-top: 120px;
}

.item-container-vc{
    border-bottom: 2px solid #eeeeee;
 
   
}

.main-content-wf{
    border-radius: 5px;
    box-shadow: 0px 0px 2px #888;
}

.reason-container-vc {
    padding: 12.5px;
}

.title-campaign-wf {
    margin: 0px;
}

.write-comments-container {
    margin-left: 12.5px;
}

.name-and-comments-vc {
    width: 85%;
}