.navigation-bar{
	
}

.body-wf {
  padding: 0px 12.5px 12.5px 12.5px;
  background-color: #f2f2f2;
}

.main-content-wf{
	background: white;
	margin-top: 12.5px;
	border-radius: 10px;

}

.header-item-wf{
    background-image: url("../img/item.png");
    background-size: contain;
}
.header-item-wf-2{

    background-size: contain;
}
.header-item-wf-3{
    background-image: url("../img/laptop.jpg");
    background-size: contain;
}
.header-item-wf-4{
    background-image: url("../img/earphones.jpg");
    background-size: contain;
}

.header-item-wf, .header-item-wf-2, .header-item-wf-3, .header-item-wf-4{
    min-height: 316px;
    max-height: 316px;
    text-align: center;
    position: relative;
    background-color: black;

}

.header-item-owner{
	display: flex;
	 background-repeat: repeat-x;
	 border-radius: 5px 5px 0px 0px;
}

.play-pitch-container{
	
}

.owner-img-wf{
	padding: 12.5px;
}

.name-text-wf{
    color: #1a1a1a;
    margin-top: 0px;
    margin-bottom: 5px;
}

.play-icon {
    width: 55px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.play-text{
	color: white;
	padding-top: 8px;
}

.body-item-wf {
    padding: 12.5px;
}

.title-item-wf {
    font-weight: bold;
    color: #1a1a1a;
    
}

.price-and-status {
    color: #949393;
    font-size: 14px;
    text-align: right;
    padding-bottom: 20px;
}

.title-campaign-wf{

    color: #4d4d4d;
    font-size: 16px;
}

.amount-raised-text {
    font-weight: bold;
    color: #1a1a1a;
}

.sub-progress-container {
    display: flex;

}



.sub-status-text, .days-left-p {
    color: #949393;
    font-size: 14px;
    font-size: 14px;

}

.sub-status-text{
	width: 100%;
    margin-top: 0px;
    text-align: right;
}


.percent-text, .days-left-text {
    font-weight: bold;
    color: #1a1a1a;
}

.price-and-status, .sub-status-text, .days-left-p{
	margin-bottom: 0px;

}

.reason-text {
    color: #4d4d4d;
    font-size: 14px;
}

.reasong-container {
    padding-top: 15px;
}

.activity-container-wf section p {
    font-size: 12px;	
    color: #4d4d4d;
}

.activity-container-wf {
    display: flex;
}

.activity-container-wf section {
    width: 33.33%;
}

.action.btn-container-wf {
    display: flex;
    border-top: 2px solid #eeeeee;
    margin-left: -12.5px!important;
    margin-right: -12.5px!important;
    margin-bottom: -12.5px!important;
    padding-bottom: -12.5px;
}

.action.btn-container-wf section p {
    color: #949393;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin: 8px 0px;
}

.contribute-btn-wf, .pledge-btn-wf , .share-btn-wf{
	  width: 33.33%;


}

.share-btn-wf{

	text-align: center;

}

.pledge-btn-wf {
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}

progress {
    height: 5px;
    width: 100%;


}

/*============= PROGRESS BAR ============*/

/*
 * Base
 */

.progressbar{
    

    height:5px;
    margin:0 auto 20px auto;
    padding:0px;
    
    background:#cfcfcf;
    border-width:1px;
  
    border-color: #aaa #bbb #fff #bbb;    
    /*box-shadow:inset 0px 2px 3px #bbb;  */  
}



.progressbar-inner{
    width:77%; /* Change to actual percentage */
    height:100%;
    background:#999;
    
    background-size:18px 18px;
    /*background-color: #ac0;   
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);*/
    
    /*box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);*/
}

/*
 * Color Options
 */
.progressbar-green .progressbar-inner{
    background-color:#3395ff;
    width:70%;
}

.play-icons-container {
    text-align: center;
    padding-top: 36px;
}

.btn-start-camp-ws{
    margin-top: 12.5px;
}

.video-img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 236px;
    min-height: 236px;
}

.pledge-icon-cuz {
    font-size: 22px;
    padding-right: 5px;
}