/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_6f4a4a3d23b8a453bc6351bc1f4dc277.eot");
  src: url("./fontcustom_6f4a4a3d23b8a453bc6351bc1f4dc277.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_6f4a4a3d23b8a453bc6351bc1f4dc277.woff") format("woff"),
       url("./fontcustom_6f4a4a3d23b8a453bc6351bc1f4dc277.ttf") format("truetype"),
       url("./fontcustom_6f4a4a3d23b8a453bc6351bc1f4dc277.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_6f4a4a3d23b8a453bc6351bc1f4dc277.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add-location:before,
.icon-add-to-wishlist:before,
.icon-add-user:before,
.icon-add-video:before,
.icon-attach:before,
.icon-back:before,
.icon-burger-settings:before,
.icon-campaign:before,
.icon-cart:before,
.icon-correct:before,
.icon-discover:before,
.icon-drop-down:before,
.icon-home:before,
.icon-money-total:before,
.icon-new-campaign:before,
.icon-new-sort:before,
.icon-notification:before,
.icon-pledge:before,
.icon-search:before,
.icon-send:before,
.icon-settings:before,
.icon-share:before,
.icon-shop:before,
.icon-sort:before,
.icon-success:before,
.icon-upload-video:before,
.icon-user:before,
.icon-wallet:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add-location:before { content: "\f104"; }
.icon-add-to-wishlist:before { content: "\f105"; }
.icon-add-user:before { content: "\f106"; }
.icon-add-video:before { content: "\f107"; }
.icon-attach:before { content: "\f108"; }
.icon-back:before { content: "\f109"; }
.icon-burger-settings:before { content: "\f10a"; }
.icon-campaign:before { content: "\f10b"; }
.icon-cart:before { content: "\f10c"; }
.icon-correct:before { content: "\f10d"; }
.icon-discover:before { content: "\f11b"; }
.icon-drop-down:before { content: "\f10e"; }
.icon-home:before { content: "\f100"; }
.icon-money-total:before { content: "\f10f"; }
.icon-new-campaign:before { content: "\f110"; }
.icon-new-sort:before { content: "\f111"; }
.icon-notification:before { content: "\f101"; }
.icon-pledge:before { content: "\f112"; }
.icon-search:before { content: "\f113"; }
.icon-send:before { content: "\f114"; }
.icon-settings:before { content: "\f115"; }
.icon-share:before { content: "\f116"; }
.icon-shop:before { content: "\f102"; }
.icon-sort:before { content: "\f117"; }
.icon-success:before { content: "\f118"; }
.icon-upload-video:before { content: "\f119"; }
.icon-user:before { content: "\f103"; }
.icon-wallet:before { content: "\f11a"; }
