@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-71djd0');
	src:url('icomoon.eot?#iefix-71djd0') format('embedded-opentype'),
		url('icomoon.ttf?-71djd0') format('truetype'),
		url('icomoon.woff?-71djd0') format('woff'),
		url('icomoon.svg?-71djd0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-home:before {
	content: "\e600";
}
.icon-icon-shop:before {
	content: "\e601";
}
.icon-icon-user:before {
	content: "\e602";
}
.icon-icon-notification:before {
	content: "\e603";
}
.icon-icon-discover:before {
	content: "\e604";
}
